body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alert-info {
    display: flex;
    background-color: #CEF3F3;
    border: solid #CECECE;
    justify-content: center;
    width: 90vw;
    padding: 1em .5em;
}

.alert-info>a:link {
    text-decoration: none;
    color: black;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 2.5em;
    margin-top: .15em;
    margin-bottom: 0;
    font-family: ;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

ul {
    list-style: none;
    padding: 0;
}

ul>li {
    padding: .5em .25em;
    background-color: #CCCCCC;
    margin-top: .4em;
    width: 90vw;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

/*@media screen and (min-width:224px) {*/
img {
    display: flex;
    width: 95%;
    align-content: center;
    margin: auto;
}

section {
    display: flex;
    flex-direction: column;
}

h2{
    margin-bottom: .1em;
}
p{
    margin-top: 0;
    margin-bot: .1em
}

.sub-section {
    font-style: italic;
}
.sub-section>h2{
    margin-top: .4em;
}

footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
footer>p {
    font-size: .8em;
    margin-top: 3em;
    margin-bottom: 0;
    margin-right: auto;
    flex-grow: 3;
}

#social-media-links {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 3.5em;
}

@media screen and (min-width:768px) {
    body {
        align-items: normal;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .hidden-on-desktop {
        display: none;
    }
h1{
    display: flex;
    justify-content: flex-start;
    width: 20%;
}
    nav {
        display: flex;
        width: 50%;
        margin-left: auto;
        justify-content: flex-end;

    }
    ul{
        color: black;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }
    ul>li{

        width: min-content;
        padding: 0.5em;
        background-color: white;
        flex-wrap: wrap;
    }
    .header-img {
        width: 100%;
    }
    #main  {
        width: 50%;
    }
    .sub-section{
        width: 40%;
        margin-left: auto;
    }
    #social-media-links {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        width: 3.5em;
    }

}

/*@media screen and (min-width:500px) {
    selector {
        property: value;
    }
}*/
